# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.env/

# VS Code settings
.vscode/

# Data outputs (optional)
outputs/

# OS files
.DS_Store
Thumbs.db
